<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <%- include('../snippets/dashboard_headers.ejs') %>
</head>
<body class="sb-nav-fixed">
    
    <%- include('../snippets/dashboard_navbar.ejs') %>

    <div id="layoutSidenav">
        <%- include('../snippets/dashboard_sidebar.ejs') %>
        
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="container col-7 mx-auto mt-5 mb-5">
                        <div class="card">
                            <div class="card-body shadow">
                                <form action="" id="changePwdForm">
                                    <h4 class="text-center text-success mb-2">Change password</h4>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" name="oldPwd"  placeholder="Old password">
                                        <label for="floatingInput">Old Password</label>
                                        <div class="oldPwdErr text-danger text-center"></div>
                                      </div>
                                      <div class="form-floating mb-3">
                                        <input type="password" class="form-control"  name="newPwd"  placeholder="New password">
                                        <label for="floatingPassword">New Password</label>
                                        <div class="newPwdErr text-danger text-center"></div>
                                      </div>
                                      <div class="form-floating mb-3">
                                        <input type="password" class="form-control" name="confirmPwd" placeholder="Confirm new password">
                                        <label for="floatingPassword">Confirm Password</label>
                                        <div class="confirmNewPwdErr text-danger text-center"></div>
                                      </div>

                                      <button type="submit" class="btn btn-success mt-4 w-100">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <%- include('../snippets/dashboard_footer.ejs') %>
        </div>
    </div>


  <%- include('../snippets/dashboard_scripts.ejs') %>
  <script src="/scripts/changepwd.js"></script>
</body>
</html>